:root {
  --colorOne: black;
  --colorTwo: rgba(62, 62, 62, 0.8);
  --colorThree: rgba(79, 79, 79, 0.8);
  --colorFour: rgb(135, 135, 135); 
  --colorFive: rgb(62, 62, 62);
  --colorSix: rgba(113, 113, 113, 0.8);
  --colorSeven: red;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colorOne);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-box{
  width: 100%;
  min-width: 1200px;
  max-width: 1200px;
  height: 100vh;
  border: solid 1px var(--colorFour);
  border-radius: 6px;
  display: flex;
  overflow: hidden;
}

.navbar-container{
  width: 30%;
  background-color: var(--colorTwo);
  padding: 10px 20px;
}

.menu-container{
  height: 100%;
  width: 100%;
  background-color: var(--colorThree);
  padding: 10px 20px;
}

.list-menu{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  position: relative;
}

.icon-menu{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.menu-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
  height: 50px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 50px 1fr 100px 100px;
  column-gap: 10px;
}

.card .image{
  height: 50px;
  width: 50px;
  border-radius: 6px;
}

.search{
  background-color: var(--colorFive);
  border-radius: 6px;
  height: 30px;
  padding: 0 10px;
  border: none;
  color: white;
}

.active-icon{
  position: absolute;
  left: 0;
  transform: translateX(-10px);
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-pointer:hover{
  opacity: .4;
}

.gray{
  background-color: var(--colorSix);
}

.hidden{
  display: none;
}

.blur{
  opacity: .5;
}

.header-title{
  font-size: 20px;
  text-transform: uppercase;
  margin: 1.5rem 0;
}

.navbar-title{
  font-size: 14px;
  margin: 16px 0;
}

.display-none{
  display: none;
}

.navbar-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .main-box{
    flex-direction: column;
    width: auto;
    min-width: auto;
    max-width: auto;
  }

  .navbar-container{
    position: relative;
    width: auto;
  }

  .menu-container{
    width: auto;
  }

  .show-navbar{
    margin-top: 10px;
    width: 50%;
    background-color: var(--colorTwo);
    height: 100vh;
    position: absolute;
  }

  .toggle{
    background-color: var(--colorSeven);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    cursor: pointer;
  }
}